<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<!--国际化引入-->
	<script src="../../i18n/en.js"></script>
	<script src="../../i18n/zh_CN.js"></script>
	<style>
		#offerPrice {
			padding-top: 45px;
			padding-bottom: 50px;
		}
		/*表单列表开始*/
		
		#offerPrice .offerList .detail {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 10px 15px;
			border-bottom: 1px dashed #d0d0d0;
			padding-bottom: 15px;
		}
		
		#offerPrice .offerList .detail .tit {
			flex: 0 0 auto;
			width: 110px;
		}
		
		#offerPrice .offerList .detail input {
			margin: 0;
		}
		
		#offerPrice .offerList .detail .breedName {
			background-color: #e0e0e0;
		}
		/*底部项目 块级标题*/
		
		#offerPrice .offerList .block {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		
		#offerPrice .offerList .block .tit {
			padding: 10px 0;
		}
		
		#offerPrice .offerList .block .item-quality {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		
		#offerPrice .offerList .block .item-quality .item {
			padding: 8px 12px;
			background-color: #F0F0F0;
			color: 666;
			margin-right: 10px;
			margin-bottom: 10px;
			margin-left: 0;
			border: 1px solid #d0d0d0;
			border-radius: 5px;
		}
		
		#offerPrice .offerList .block .item-quality .itemActive {
			background-color: #007AFF;
			color: #fff;
		}
		
		#offerPrice .offerList .block textarea {
			margin: 0;
		}
		/*底部报价按钮*/
		
		#offerPrice .button-wrap {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color: #007AFF;
			color: #fff;
			font-size: 18px;
		}
	</style>
</head>

<body>
	<div class="mui-content" id="offerPrice">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">报价</h1>
		</header>
		<!--表单列表-->
		<div class="offerList">
			<!--输入项目开始-->
			<div class="detail">
				<span class="tit">品种：</span>
				<input class="breedName" disabled v-model="formData.breedName" type="text" placeholder="请选择品种" />
			</div>
			<div class="detail">
				<span class="tit">数量：</span>
				<input class="mui-input-numbox" v-model="formData.number" type="number" placeholder="请输入数量" />
				<div class="unit-selected" style="height: 40px; width: 100%">
					<my-select v-model="formData.unit" :options="unitList" placeholder="单位"></my-select>
				</div>
			</div>
			<div class="detail">
				<span class="tit">单价：</span>
				<input class="mui-input-numbox" v-model="formData.price" type="number" placeholder="请输入单价" />
				<div class="unit-selected" style="height: 40px; width: 100%">
					<my-select desabled v-model="formData.unit" :options="unitList" placeholder="单位"></my-select>
				</div>
			</div>
			<div class="detail">
				<span class="tit">产地：</span>
				<div class="unit-selected" style="height: 40px; width: 100%">
					<my-select v-model="formData.location" :options="locationList" placeholder="请选择产地"></my-select>
				</div>
			</div>
			<div class="detail">
				<span class="tit">规格：</span>
				<div class="unit-selected" style="height: 40px; width: 100%">
					<input type="text" v-model="formData.spec" placeholder="请输入规格"></my-select>
				</div>
			</div>
			<div class="detail">
				<span class="tit">有效时间：</span>
				<input v-model="formData.dueDate" type="date" :min="minDate" />
			</div>
			<div class="detail">
				<span class="tit">供应商名称：</span>
				<input type="text" v-model="formData.customerName" placeholder="请选择供应商" readonly v-tap="{func: showCustomer}" />
			</div>
			<!--质量说明-->
			<div class="detail block">
				<span class="tit">质量说明：</span>
				<div class="item-quality">
					<span v-for="item in qualityList" :class="{'itemActive': item.select}" class="item" v-tap="{func:addQuality, params:item}">{{item.label}}</span>
				</div>
				<textarea v-model="formData.quality" rows="4" placeholder="其余质量说明，可在此填写！！！"></textarea>
			</div>
			<!--药材图片-->
			<div class="detail block">
				<span class="tit">药材图片：</span>
				<my-updateimg v-on:getimgurl="getimgurl" :imglist="formData.imageArray" v-on:deleltimg="deleltimg"></my-updateimg>
			</div>
			<!--报价备注-->
			<div class="detail block" style="border: none">
				<span class="tit">报价备注：</span>
				<textarea v-model="formData.description" rows="4" placeholder="请填写报价备注信息"></textarea>
			</div>
		</div>

		<!--提交按钮-->
		<div class="button-wrap" ref="submit" v-tap="{func:submit}">
			提交报价
		</div>
	</div>
	<script src="../../js/mui.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/vue-i18n.min.js"></script>
	<script src="../../libs/filters.js"></script>
	<script src="../../libs/crypto-js.js"></script>
	<script src="../../libs/httpService.js"></script>
	<script src="../../libs/vueComponents.js"></script>
	<script>
		//初始化
		mui.init();
		//加载完毕
		var offerPrice, customer, offerSuc;
		mui.plusReady(function() {
			offerPrice = plus.webview.currentWebview()
			vm.getUnitHttp();
			var nowDate = new Date().getTime();
			vm.minDate = filters.getYMD(nowDate, 'YYYY-MM-DD');
			setTimeout(function() {
				//预加载客户选项
				customer = mui.preload({
					url: '../customer.html',
					id: 'customer'
				})
				//预加载成功页面
				offerSuc = mui.preload({
					url: './offerSuc.html',
					id: 'offerSuc',
					styles: {
						top: '0px',
						bottom: '0px',
						left: '0px',
						right: '0px',
						margin: 'auto',
						background: 'transparent',
						zIndex: 9999
					}
				})
			}, 300)
		})
		var vm = new Vue({
			el: '#offerPrice',
			i18n: window.i18n,
			data: {
				formData: {
					intentionId: '',
					breedName: '',
					breedId: '',
					unit: '',
					number: '',
					price: '',
					location: '',
					spec: '',
					description: '',
					quality: '',
					dueDate: '',
					imageArray: [],
					customerId: '',
					customerName: '',
				},
				unitList: [],
				locationList: [],
				qualityList: [{
					label: '产品包交',
					select: false,
				}, {
					label: '质量优质',
					select: false,
				}, {
					label: '一手货源',
					select: false,
				}, {
					label: '含量较高',
					select: false,
				}, {
					label: '可以加工',
					select: false,
				}],
				minDate: '', //最小时间及过期时间不能小于今天				
			},
			methods: {
				//显示搜索列表
				showCustomer: function() {
					//传值自己的ID给列表页面
					mui.fire(customer, 'getParentId', {
						id: offerPrice.id
					})
					setTimeout(function() {
						customer.show('slide-in-right', 300)
					}, 300)
				},
				//获取图片数组
				getimgurl: function(params) {
					console.log(params)
					this.formData.imageArray.push(params);
				},
				//删除图片
				deleltimg: function(index) {
					this.formData.imageArray.splice(index, 1);
				},
				//获取单位列表
				getUnitHttp: function() {
					var url = common.commonUrl + common.apiUrl.most;
					var body = {
						biz_module: 'enumService',
						biz_method: 'queryEnumList',
						biz_param: {
							type: 'MU'
						}
					};
					var _self = this;
					common.commonPost(url, body, function(suc) {
						var list = []
						for(var i = 0; i < suc.biz_result.list.length; i++) {
							var obj = suc.biz_result.list[i];
							var name = obj.name;
							if(obj.nameEn) {
								name = obj.name + '(' + obj.nameEn + ')';
							}
							list.push({
								label: name,
								value: obj.id
							})
						}
						_self.unitList = list;
					}, function(err) {

					})
				},
				//根据品种获取产地列表
				getLocationList: function() {
					var url = common.commonUrl + common.apiUrl.most;
					var body = {
						biz_module: 'breedService',
						biz_method: 'queryLocalSpecList',
						biz_param: {
							breedId: this.formData.breedId
						}
					}
					var _self = this;
					common.commonPost(url, body, function(suc) {
						var list = [];
						for(var i = 0; i < suc.biz_result.localList.length; i++) {
							var obj = suc.biz_result.localList[i];
							list.push({
								label: obj.name,
								value: obj.locationId
							})
						}
						_self.locationList = list
					}, function(err) {

					})
				},
				//添加质量需求
				addQuality: function(params) {
					//没有选择过 可以选择添加
					if(!params.select) {
						params.select = !params.select;
						this.formData.quality += params.label + ','
					} else {
						params.select = !params.select;
						//全局匹配文字替换文字
						var regx = new RegExp(params.label + ',', "gim");
						this.formData.quality = this.formData.quality.replace(regx, '')
					}
				},
				//提交表单
				submit: function() {
					var _self = this;
					//表单校验数组
					var validate = [{
						data: this.formData.intentionId,
						required: true,
						msg: '意向ID不能为空',
					}, {
						data: this.formData.breedId,
						required: true,
						msg: '品种不能为空',
					}, {
						data: this.formData.number,
						required: true,
						msg: '数量不能为空',
						validate: {
							Reg: /^[0-9]+(.[0-9]{2})?$/,
							msg: '数值类型错误，两位小数'
						}
					}, {
						data: this.formData.price,
						required: true,
						msg: '价格不能为空',
						validate: {
							Reg: /^[0-9]+(.[0-9]{2})?$/,
							msg: '价格类型错误，两位小数'
						}
					}, {
						data: this.formData.location,
						required: true,
						msg: '请选择产地'
					}, {
						data: this.formData.spec,
						required: true,
						msg: '请填写规格',
					}, {
						data: this.formData.dueDate,
						required: true,
						msg: '请选择有效时间',
					}, {
						data: this.formData.customerId,
						required: true,
						msg: '请选择供应商名称',
					}, {
						data: this.formData.quality,
						required: true,
						msg: '请选择或填写质量说明',
					}];

					//校验表单
					if(common.validate(validate)) {
						//校验图片
						if(!common.ruls.image(this.formData.imageArray)) {
							return;
						}
						plus.nativeUI.actionSheet({
							cancel: "取消提交报价",
							buttons: [{
								title: "确定提交报价"
							}]
						}, function(e) {
							switch(e.index) {
								case 1:
									//提交表单数据
									_self.submitHttp()
									break;
								default:
									break;
							}
						});
					}

				},
				submitHttp: function() {
					var _self = this;
					var url = common.commonUrl + common.apiUrl.most;
					//处理一下图片数据传值方式
					var body = {
						biz_module: 'erpIntentionOfferService',
						biz_method: 'addIndentIntentionOffer',
						biz_param: common.filterFormData(this.formData, ['breedName', 'customerName'])
					}
					mui(_self.$refs.submit).button('loading')
					common.commonPost(url, body, function(suc) {
						offerSuc.show('fade-in', 300);
						mui(_self.$refs.submit).button('reset');
					}, function(err) {
						mui(_self.$refs.submit).button('reset')
					});
					//console.log(JSON.stringify(common.filterFormData(this.formData, ['breedName', 'customerName'])))
				},
				//重置表单数据
				resetFormData: function() {
					//重置表单数据
					for(var key in this.formData) {
						if(key === 'imageArray') {
							this.formData[key] = [];
						} else {
							this.formData[key] = '';
						}
					}
					for(var i = 0; i < this.qualityList.length; i++) {
						this.qualityList[i].select = false;
					}
				}
			}
		})

		//获取详情页床底过来的意向信息
		window.addEventListener("getIntentionInfo", function(event) {
			//重置所有表单数据
			vm.resetFormData();
			//滚动到页面头部
			window.scrollTo(0, 0);
			if(event.detail && typeof event.detail === 'object') {
				var params = event.detail.intentionInfo;
				vm.formData.intentionId = params.id;
				vm.formData.breedName = params.breedName;
				vm.formData.breedId = params.breedId;
				vm.formData.unit = params.unit;
				vm.formData.location = '';
				//获取单位
				vm.getLocationList();
			}
		})

		//获取品种页面返回的值
		window.addEventListener("backBreedName", function(event) {
			if(event.detail && typeof event.detail === 'object') {
				vm.formData.breedName = event.detail.name;
				vm.formData.breedId = event.detail.id;
			}
		})

		//接收用户列表来的用户信息
		window.addEventListener('getCustomer', function(event) {
			if(event.detail !== undefined) {
				vm.formData.customerId = event.detail.id;
				vm.formData.customerName = event.detail.name;
			}
		})
	</script>
</body>

</html>