<!DOCTYPEtop html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<!--国际化引入-->
		<script src="../i18n/en.js"></script>
		<script src="../i18n/zh_CN.js"></script>
		<style>
			#login {
				padding-top: 50px;
			}
			
			#login .language {
				background-color: #fff;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 5px 15px;
			}
			
			#login .mui-input-row {
				position: relative;
			}
			
			#login .mui-input-row span {
				position: absolute;
				top: 7px;
				right: 10px;
				color: #007AFF;
			}
			/*底部蒙层及进度条*/
			
			#login .mask {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 9999;
				background-color: rgba(0, 0, 0, .5);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 10px;
				color: #fff;
			}
			
			#login .mask div {
				margin-bottom: 5px;
			}
			
			#login .mask .progressbar {
				width: 100%;
				background-color: #fff;
				height: 5px;
				position: relative;
				border-radius: 2px 2px;
				opacity: .8;
				overflow: hidden;
			}
			
			#login .mask .progressbar span {
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 5px;
				background-color: #007AFF;
				opacity: .8;
				border-radius: 2px 2px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content" id="login">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">{{$t('message.login')}}</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="language">
				<span>{{$t('message.language')}}</span>
				<div class="mui-input-row mui-radio mui-left">
					<label>中文</label>
					<input v-model="language" value="zh" type="radio">
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>English</label>
					<input v-model="language" value="en" type="radio">
				</div>

			</div>
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>{{$t('message.userName')}}</label>
					<input v-model='no' type="text" class="mui-input" :placeholder="$t('message.account_or_password')">
					<span v-tap="{'func': clearNo}" v-show="no" class="mui-icon mui-icon-close"></span>
				</div>
				<div class="mui-input-row">
					<label>{{$t('message.passWord')}}</label>
					<input v-model='password' type="password" class="mui-input" :placeholder="$t('message.account_or_password')">
					<span v-tap="{'func': clearPW}" v-show="password" class="mui-icon mui-icon-close"></span>
				</div>
			</form>
			<form class="mui-input-group">
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						{{$t('message.automatic_logon')}}
						<div id="autoLogin" class="mui-switch" @click="changeAutoLogin" :class="{'mui-active':autoLogin === 'on'}">
							<div class="mui-switch-handle"></div>
						</div>
					</li>
				</ul>
			</form>
			<div class="mui-content-padded">
				<!--<button style="padding: 10px 0 ;" class="mui-btn mui-btn-block mui-btn-primary">{{$t('message.submit')}}</button>-->
				<button ref="submit" data-loading-icon="mui-spinner mui-spinner-custom" style="padding: 10px 0 ;" v-tap="{'func': loginIn}" class="mui-btn mui-btn-block mui-btn-primary">{{$t('message.submit')}}</button>
			</div>
			<div v-show="showMask" class="mask">
				<div>{{proTxt}}</div>
				<p v-show="showPro" ref="proWrap" class="progressbar">
					<span ref="span"></span>
				</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../libs/vue.min.js"></script>
		<script src="../libs/vue-i18n.min.js"></script>
		<script src="../libs/crypto-js.js"></script>
		<script src="../libs/httpService.js"></script>
		<script>
			mui.init({
				keyEventBind: {
					backbutton: true,
					menubutton: true
				},
			});
			var needIntention, myOfferDetail;
			var vm = new Vue({
				el: '#login',
				i18n: window.i18n,
				data: {
					no: '',
					password: '',
					autoLogin: 'on',
					language: 'zh',
					clientId: '',
					showMask: false,
					proTxt: '',
					showPro: false
				},
				watch: {
					language: function(newVal) {
						switch(newVal) {
							case 'zh':
								window.localStorage.language = 'zh';
								common.setItem('language', 'zh');
								this.$root.$i18n.locale = 'zh';
								break;
							case 'en':
								window.localStorage.language = 'en';
								common.setItem('language', 'en');
								this.$root.$i18n.locale = 'en'
								break;
						}
					}
				},
				methods: {
					//清除密碼
					clearPW: function() {
						this.password = '';
					},
					//清除账号
					clearNo: function() {
						this.no = ''
					},
					//登录后进首页
					loginIn: function() {
						var _self = this;
						this.submit(function() {
							_self.getUserInfo(function() {
								//获取用户信息成功 后 打开首页
								setTimeout(function() {
									mui.openWindow({
										url: './home.html',
										id: 'home',
										createNew: true,
										show: {
											aniShow: 'slide-in-right'
										}
									});
								}, 200)
							})
						})
					},
					//登录提交
					submit: function(fn) {
						//获取客户端ID 传入后台绑定所用
						this.clientId = plus.push.getClientInfo().clientid;
						//校验通过 进行登录
						if(common.validate([common.ruls.no(this.no), common.ruls.password(this.password)])) {
							mui(this.$refs.submit).button('loading')
							var obj = {
								biz_param: {
									no: this.no,
									password: this.password,
									clientId: this.clientId
								}
							}
							var _self = this;
							common.commonPost(common.commonUrl + common.apiUrl.login, obj, function(suc) {
								common.setItem('KEY', suc.biz_result.KEY)
								common.setItem('SID', suc.biz_result.SID)
								window.localStorage.KEY = suc.biz_result.KEY
								window.localStorage.SID = suc.biz_result.SID;
								common.KEY = suc.biz_result.KEY;
								common.SID = suc.biz_result.SID;
								//登录成功 记录账号密码
								common.setItem('no', _self.no)
								common.setItem('password', _self.password)

								mui(_self.$refs.submit).button('reset')
								//登录成功后的回调
								if(fn !== undefined && typeof fn === 'function') {
									fn(suc);
								}
							}, function(err) {
								mui(_self.$refs.submit).button('reset');
							})
						}
					},
					//改变自动登录
					changeAutoLogin: function() {
						if(this.autoLogin === 'on') {
							this.autoLogin = 'off'
						} else {
							this.autoLogin = 'on'
						}
						common.setItem('autoLogin', this.autoLogin)
					},
					//获取用户信息
					getUserInfo: function(fn) {
						//先同步时间
						var _self = this;
						common.getDate(function() {
							var url = common.commonUrl + common.apiUrl.most
							var body = {
								biz_module: 'userService',
								biz_method: 'getCmsUserInfo'
							};
							common.commonPost(url, body, function(suc) {
								window.localStorage.userInfo = JSON.stringify(suc.biz_result);
								common.setItem('userInfo', window.localStorage.userInfo)
								//获取用户信息完成后开启事件监听								
								_self.addPush();
								if(fn !== undefined && typeof fn === 'function') {
									fn(suc);
								}
							}, function(err) {

							})
						})
					},
					//监听系统消息
					addPush: function() {
						var _self = this;
						//消息监听完毕
						plus.push.addEventListener("receive", function(msg) {
							var result = JSON.parse(msg.payload);
							switch(result.bizType) {
								//意向信息跳转
								case 'offer_task':
									//执行登录
									_self.submit(function() {
										//登录成功获取用户信息
										_self.getUserInfo();
										//获取详情页数据
										mui.fire(needIntention, 'getDetailInfo', {
											intentionId: result.bizId
										})
										setTimeout(function() {
											needIntention.show('slide-in-right', 300);
										}, 300)
									})
									break;
								default:
									//暂时只有两种跳转 以后能加 跳转到报价详情
									//执行登录
									_self.submit(function() {
										//登录成功获取用户信息
										_self.getUserInfo();
										//获取详情页数据
										mui.fire(myOfferDetail, 'myOfferDetailId', {
											id: result.bizId
										})

										setTimeout(function() {
											myOfferDetail.show('slide-in-right', 300);
										}, 300)
									})
									break;
							}
						}, false);
					},
					//从后台拿取版本号 检查版本更新
					validateVersion: function(fn) {
						var url = common.commonUrl + common.apiUrl.most;
						var body = {
							biz_module: 'versionService',
							biz_method: 'getERPAppVersion',
							biz_param: {
								type: 2
							}
						};
						common.commonPost(url, body, function(suc) {
							if(fn !== undefined && typeof fn === 'function') {
								fn(suc);
							};
						}, function(err) {})
					}
				}
			}) //在mui.plusReady完成后 执行一些配置
			//自动登录 先判断本地 有无SID 有就登录 没有就留在登录页面 
			mui.plusReady(function() {
				vm.no = common.getItem('no');
				vm.password = common.getItem('password');
				//消息监听
				vm.addPush();
				//预加载意向详情页
				needIntention = mui.preload({
					url: './purchaseOrders/needIntention.html',
					id: 'needIntention'
				});
				//预加载报价详情页
				myOfferDetail = mui.preload({
					url: './purchaseOrders/myOfferDetail.html',
					id: 'myOfferDetail'
				})

				//获取当前设备系统的名称 
				var deviceName;
				switch(plus.os.name) {
					case 'Android':
						deviceName = 'Android';
						break;
					case 'iOS':
						deviceName = 'iOS';
						break;
				}
				var btnArr = ['立即更新', '取消'];
				//检查版本更新回调	
				var verCallBack = function(params) {
					var result = params.biz_result;
					//获取到台返回的数据
					//当前设备版本ID plus.runtime.version
					var deviceVersion = plus.runtime.version.split('.');
					//最低的强制更新版本
					var compel = result.compel.split('.');
					//普通更新版本
					var version = result.version.split('.');
					var title = '当前最新版本 V' + result.version;
					//校验强制版本
					if(validate(deviceVersion, compel)) {
						//强制更新
						vm.showMask = true;
						btnArr = ['立即更新'];
						plus.nativeUI.confirm(result.content, function(event) {
							//点击更新后执行更新逻辑
							if(event.index === 0) {
								//下载并安装
								downVerSion(result.downUrl);
							}
							if(event.index === -1) {
								vm.showMask = true;
							}
						}, title, btnArr);

					} else if(validate(deviceVersion, version)) {
						//普通更新
						vm.showMask = true;
						plus.nativeUI.confirm(result.content, function(event) {
							//点击更新后执行更新逻辑
							if(event.index === 0) {
								downVerSion(result.downUrl);
							}
							if(event.index === -1 || event.index === 1) {
								vm.showMask = false;
							}
						}, title, btnArr);
					} else {
						//不需要更新直接登录
						vm.autoLogin = common.getItem('autoLogin');
						vm.language = common.getItem('language') || vm.language;
						if(vm.autoLogin === 'on') {
							if(vm.no && vm.password) {
								vm.submit(function() {
									//登录成功获取用户信息
									vm.getUserInfo(function() {
										//获取用户信息成功 后 打开首页
										setTimeout(function() {
											mui.openWindow({
												url: './home.html',
												id: 'home',
												show: {
													aniShow: 'slide-in-right'
												}
											});
										}, 200)
									})
								})
							}
						}
					}
				}
				//下载版本 
				function downVerSion(downUrl) {
					//显示进度条
					vm.showPro = true;
					//创建一个蒙层 防止用户不强制更新还继续操作	
					if(deviceName === 'Android') {
						//创建下载对象
						var dtask = plus.downloader.createDownload(downUrl, {
							filename: '_doc/update/'
						}, function(download, status) {
							if(status === 200) {
								//下载成功 执行安装
								plus.runtime.install(download.filename, {
									force: true
								}, function() {
									plus.runtime.restart();
								});
							} else {
								plus.nativeUI.alert("下载更新失敗！");
							}
						});

						dtask.addEventListener("statechanged", function() {
							//计算百分比
							//vm.proTxt = Math.floor((dtask.downloadedSize / dtask.totalSize) * 10000) / 100 + "%";
							//动态监听进度条										
							vm.$refs.span.style.width = Math.floor((vm.$refs.proWrap.offsetWidth * dtask.downloadedSize) / dtask.totalSize) + 'px';
						}, false);
						dtask.start();
					} else if(deviceName === 'iOS') {
						//iOS打开地址下载
						if(result.iosUrl) plus.runtime.openURL(result.iosUrl);
					}
				}

				//版本校验
				function validate(deviceVersion, version) {
					var isUpdate = false;
					if(Number(version[0]) > Number(deviceVersion[0])) {
						isUpdate = true;
						return isUpdate;
					} else if(Number(version[0]) === Number(deviceVersion[0]) && Number(version[1]) > Number(deviceVersion[1])) {
						isUpdate = true;
						return isUpdate;
					} else if(Number(version[0]) === Number(deviceVersion[0]) && Number(version[1]) === Number(deviceVersion[1]) && Number(version[2]) > Number(deviceVersion[2])) {
						isUpdate = true;
						return isUpdate;
					}
					return isUpdate;
				}
				//校验版本
				vm.validateVersion(verCallBack);

			})
			//缓存老的 old_back 重新back
			var old_back = mui.back;
			mui.back = function() {
				mui.confirm(vm.$t('message.Determine_exit_application'), vm.$t('message.friendly_warning'), [vm.$t('message.confirm'), vm.$t('message.cancel')], function(e) {
					if(e.index === 0) {
						plus.runtime.quit()
					}
				})
			}
		</script>
	</body>

</html>